@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
section {
  padding: 50px;
  width: 100%;
  height: 100%;
}
*::selection {
  color: #fff;
  background: #008148;
}
img {
  width: 100%;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px 18%;
  transition: 0.2s;
}
.nav-bar {
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-bar ul {
  list-style: none;
  float: right;
  margin-right: 40px;
}
.nav-bar li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
.nav-bar li a {
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
  padding: 7px 25px;
  font-weight: 500;
  text-decoration: none;
}
.MainButton {
  position: relative;
  top: -8px;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  letter-spacing: 1px;
  font-size: 15px;
  outline: none;
  border: 2px solid #008148;
  background: transparent;
  color: #008148;
  cursor: pointer;
  font-weight: 600;
}
.MainButton:focus {
  color: #fff;
  background: #008148;
  border: none;
}
.containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: #008148;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: scale(0) rotate(360deg);
  opacity: 0.7;
}

.Loginform-box {
  transform: scale(1) rotate(0);
}
.Registerform {
  position: absolute;
  transition: 0.5s;
  transform: scale(0) rotate(360deg);
}
.Registerform-box {
  transform: scale(1) rotate(0deg);
}
.form-value h2 {
  font-size: 35px;
  color: #fff;
  text-align: center;
}
.input-box {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 3px solid #fff;
}
.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 35px 0 5px;
  color: #fff;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff8;
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.remember-password {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #008148;
  display: flex;
  justify-content: space-between;
}
.remember-password span a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.remember-password input {
  accent-color: orangered;
  margin-right: 3px;
}
.btn {
  background: #f72df7;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
}
.creation-account {
  color: #fff;
  text-align: center;
  margin-top: 5px;
}
.creation-account a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.4s;
}
.creation-account a:hover {
  border-bottom: 2px solid #fff;
}
ion-icon {
  position: absolute;
  right: 8px;
  top: 20px;
  font-size: 1.2em;
  color: #fff;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
  position: relative;
  right: 200px;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: #008148;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  left: -90px;
}
.navbar a::after {
  content: "";
  position: absolute;
  background-color: #008148;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}
.navbar a:hover::after {
  width: 100%;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #ebdbc8;
  gap: 1rem;
}
.home-text {
  flex: 1 1 17rem;
}
.home-img {
  flex: 1 1 17rem;
}
.home-img img {
  width: 100%;
}

.home-text span {
  font-size: 1rem;
  text-decoration: uppercase;
  font-weight: 600;
  color: #008148;
}
.home-text h1 {
  font-size: 3.2rem;
  color: #008148;
  font-weight: bolder;
}
.home-text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #008148;
  text-transform: uppercase;
  margin: 0.5rem 0 1.4rem;
}
.time {
  position: absolute;
 margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;

}
.salee {
  margin-top: 20px;
  color: #008148;
}
.salee h4 {
  display: flex;
  position: absolute;
 left: 60px;
 font-size: 20px;
}
.mua {
  padding: 7px 16px;
  border: 2px solid #008148;
  border-radius: 40px;
  color: #008148;
  font-weight: 500;
}
.mua:hover {
  color: #ebdbc8;
  background: #008148;
}
.heading {
  text-align: center;
  text-transform: uppercase;
}
.heading span {
  font-size: 1rem;
  font-weight: 600;
  color: #008148;
}
.heading h1 {
  font-size: 2rem;
  color: #008148;
}
.shop-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
  height: 60vh;
  align-items: center;
}
.shop-container .box {
  flex: 1 1 10rem;
  background: #008148;
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  border-radius: 0.5rem;
}
.shop-container .box .box-img {
  width: 150px;
  height: 150px;
  margin-top: -100px;
}
.shop-container .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.stars {
  margin: 1rem 0 0.1rem;
}
.shop-container .stars .bx {
  color: #ebdbc8;
}
.shop-container .box h2 {
  color: #ebdbc8;
  font-size: 1.2rem;
}
.shop-container .box span {
  color: hsl(#ebdbc8);
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.2rem 0 0.5rem;
}
.box .mua {
  border: 2px solid #fff;
  color: #ebdbc8;
}
.box .mua:hover {
  background: #ebdbc8;
  color: #008148;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.delivery {
  height: 100vh;

  align-items: center;
}
.delivery-img,
.app-img {
  flex: 1 1 21rem;
}
.delivery-text,
.app-text {
  flex: 1 1 21rem;
}
.delivery-text h2,
.app-text h2 {
  font-size: 1.2rem;
  color: var(#008148);
}
.delivery-text p,
.app-text p {
  margin: 0.5rem 0 1rem;
  text-align: justify;
}
.app {
  height: 100vh;
  align-items: center;
}
.about {
  display: flex;
  flex-wrap: wrap;
  background: #ebdbc8;
  gap: 1.5rem;
}
.about img {
  width: 600px;
  position: relative;
  top: 8px;
}
.about-text {
  flex: 1 1 17rem;
}
.about-text h2 {
  font-size: 1.2rem;
  color: var(#008148);
}
.about-text p {
  margin: 0.5rem 0 1rem;
  text-align: justify;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social a {
  font-size: 19px;
  margin: 0.5rem;
  position: relative;
  top: 20px;
}
.social a .bx {
  padding: 5px;
  color: #fff;
  background: #191818;
  border-radius: 50%;
}
.social a .bx:hover {
  background: #008148;
}
.links {
  margin: 1rem 0 1rem;
}
.links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(#008148);
  padding: 1rem;
}
.link a:hover {
  color: var(#008148);
}

.contact-icon a:hover {
  transform: scale(1.2);
}

.logoo {
  display: flex;
  align-items: center;
}
.logoo img {
  width: 55px;
  position: relative;
  left: 10px;
}
.footer {
  width: 100%;
  background: rgb(0, 0, 0, 0.79);
  height: 322px;
  margin-top: 338px;
  padding: 0px 63px;
  padding-top: 57px;
  display: flex;
  justify-content: space-around;
}
.footer .end {
  width: 250px;
  color: #fff;
}
.footer .end .quick-menu {
  margin-top: 40px;
}
.footer .end .quick-menu .itemm {
  margin-bottom: 12px;
}
.footer .end .quick-menu .itemm a {
  color: #fff;
  text-decoration: none;
}
.footer .end form input {
  width: 294px;
  height: 42px;
  background: transparent;
  padding-left: 20px;
  color: #fff;
  margin-top: 30px;
}
.footer .end form button {
  background: #362f2f;
  box-shadow: 5px 5px 4px rgba(0, 0, 0.25);
  width: 163px;
  height: 38px;
  margin-top: 29px;
  color: #fff;
}
.validatee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 background-color: #db7676;
  border-radius: 25px;
  font-family: "Courier New", Courier, monospace;
  margin: 400px;
}

.validatee input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid blACK;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 20px;
}

.validatee.button {
  background-color: rgb(86, 11, 11);
  display: flex;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.acc {
  height: 100vh;
}
.validatee input[type="submit"] {
  margin-bottom: 20px;
  border-radius: 0.3em;
  border: none;
  width: 65px;
  height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.validatee input[type="submit"]:hover {
  color: #008148;
 opacity: 0.8;
}